<log4net>
  <appender name="ElasticSearchAppender" type="Dot.LogStash.ElasticSearchAppender, Dot.LogStash">
    <Servers>
      <Server>
        <Address>192.1.30.174</Address>
        <Port>9200</Port>
      </Server>
    </Servers>
    <LogEventFactoryType>Dot.LogStash.SimpleLogEventFactory, Dot.LogStash</LogEventFactoryType>
    <IndexName>dot.logstash.sample_%{+yyyy-MM-dd}</IndexName>
    <IndexType>log</IndexType>
    <Bulksize>1</Bulksize>
    <BulkIdleTimeout>1</BulkIdleTimeout>
    <IndexAsync>True</IndexAsync>
    <Template>
      <Name>template.dot.logstash.sample</Name>
      <FileName>Configs/template.dot.logstash.sample.json</FileName>
    </Template>
    <ElasticFilters>
      <Json>
        <SourceKey>Message</SourceKey>
        <FlattenJson>true</FlattenJson>
        <Separator>_</Separator>
      </Json>
      <Remove>
        <Key>Message</Key>
      </Remove>
      <Remove>
        <Key>MessageObject</Key>
      </Remove>
    </ElasticFilters>
  </appender>

  <root>
    <level value="INFO" />
  </root>

  <logger name="ElasticSearchLogger" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="ElasticSearchAppender"/>
  </logger>
</log4net>